body {
  background-color: #d8d8d8;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 2rem auto 1rem;
  text-align: center;
}

button {
  background-color: transparent;
  color: #cecece;
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
}

button:hover {
  background-color: #333;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 1rem;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 1rem;
  margin: 0 auto;
}

table th,
table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

table tr:hover {
  background-color: #e0e0e0;
}

.blue-button {
  background-color: #5db883;
  color: #fff;
}

.blue-button:hover {
  background-color: #00b336;
}

.red-button {
  background-color: #c43a48;
  color: #fff;
}

.red-button:hover {
  background-color: #e01735;
}

table tr {
  background-color: #9e9e9e;
}

table tr:nth-child(odd) {
  background-color: #babfc4;
}

table tr:hover {
  background-color: #d3d3d3;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(158, 154, 154, 0.5);
  z-index: -1;
}
